.box-bigger {
  display: flex;
  flex-wrap: wrap;
  width: 656px;
  margin-bottom: 24px;
  background: #fff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1), 0px 2px 9px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}
.second-wrap-of-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.first-content {
  margin: 28px 20px 14px 19px;
  display: flex;
}
.profiletitle {
  width: 100%;
  display: flex;
  align-items: center;
}
.image-circle {
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  margin-right: 8px;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  background-image: url("./feed_img/monica.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.title-name {
  cursor: pointer;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.wrap-first-text {
  margin: 0 24px 24px 24px;
}
.first-block-text {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-family: Open Sans;
  color: rgba(0, 0, 0, 0.9);
}
.first-block-text-1st {
  font-weight: 600;
}
.first-block-text-1st-normal {
  font-weight: normal;
}
.first-block-text-1st-link {
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;
  color: #03afff;
}
.first-block-text-2nd {
  margin-top: 8px;
  display: flex;
  word-break: break-all;
}
.first-block-text-3rd-link {
  cursor: pointer;
  text-decoration: none;
  color: #faa120;
}
.man-image {
  margin: 24px 0 24px 0;
}
.parent-of-options-and-conditions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.condition {
  margin: -3px 20px 0 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.32);
}
.option {
  margin-top: 6px;
  cursor: pointer;
  height: 4px;
  width: 16px;
}
.box-bigger {
  width: 656px;
  margin-bottom: 24px;
  background: #fff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1), 0px 2px 9px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}
.second-wrap-of-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.first-content {
  margin: 28px 20px 14px 19px;
  display: flex;
  flex-wrap: nowrap;
}
.profiletitle {
  width: 100%;
  display: flex;
  align-items: center;
}
.image-circle {
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  margin-right: 8px;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.title-name {
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.wrap-first-text {
  margin: 0 24px 24px 24px;
}
.first-block-text {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-family: Open Sans;
  color: rgba(0, 0, 0, 0.9);
}
.first-block-text-1st {
  font-weight: 600;
}
.first-block-text-1st-normal {
  font-weight: normal;
}
.first-block-text-1st-link {
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;
  color: #03afff;
  word-break: break-all;
}
.first-block-text-2nd {
  margin-top: 8px;
}
.first-block-text-3rd {
  cursor: pointer;
  text-decoration: none;
  color: rgb(114, 116, 121);
}
.man-image {
  margin: 24px 0 24px 0;
}

.parent-of-options-and-conditions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: relative;
}
.condition {
  margin: -3px 20px 0 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.32);
}
.option {
  margin-top: 6px;
  cursor: pointer;
  height: 4px;
  width: 16px;
}
@keyframes show_options {
  0% {
    right: 10px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.over {
  visibility: hidden;
  position: absolute;
}
.over_show {
  display: flex;
  position: absolute;
  right: 10px;
  bottom: -40px;
  list-style-type: none;
  flex-direction: column;
  background: #dadaeb;
  width: 110px;
  border-radius: 3px;
  height: 70px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  animation: show_options 0.3s forwards;
}
.over_show li {
  width: 80%;
  height: 35px;
  padding-top: 4px;
  align-self: center;
  text-align: center;
}
.over_show .important {
  border-top: 1px solid #fff;
}
.over_show li:hover {
  background: #b8b8f0;
  cursor: pointer;
  width: 100%;
}

@keyframes hide {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.over_hide {
  display: flex;
  position: absolute;
  right: 10px;
  bottom: -40px;
  list-style-type: none;
  flex-direction: column;
  background: #dadaeb;
  width: 110px;
  border-radius: 3px;
  height: 70px;
  opacity: 0;
  visibility: hidden;
  animation: hide 0.3s both;
}
.over_hide li {
  width: 80%;
  height: 35px;
  padding-top: 4px;
  align-self: center;
  text-align: center;
}
.over_hide .important {
  border-top: 1px solid #fff;
}
.addCommentBlock {
  display: flex;
  width: 100%;
  margin-top: 26px;
  margin-bottom: 34px;
  display: flex;
  align-items: center;
}
.commentImage {
  cursor: pointer;
  width: 28px;
  height: 24px;
  margin-right: 12px;
  background-image: url(./feed_img/Comment.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.commentImage:hover {
  background-image: url(./feed_img/YellowComment\ .svg);
}
.commentImageYellow {
  cursor: pointer;
  width: 28px;
  height: 24px;
  margin-right: 12px;
  background-image: url(./feed_img/YellowComment\ .svg);
  background-repeat: no-repeat;
  background-position: center;
}
.plusBonus {
  cursor: pointer;
  width: 28px;
  height: 24px;
  margin-right: 12px;
  background-image: url(./feed_img/AddPoint.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.plusBonus:hover {
  background-image: url(./feed_img/YellowAdd.svg);
}
@media (max-width: 960px) {
  .box-bigger {
    width: 100%;
  }
  .man-image {
    width: 100%;
  }
}
