* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.block {
  background: #f6f5f7;
  display: flex;
  flex-direction: row;
  font-family: "Open Sans", sans-serif;
}
.main {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media (max-width: 960px) {
  .block {
    background: #0f2b59;
  }
}
